@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Georgian:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background:#000000;
    color: #fff; 
    overflow-x: hidden;
}
#header{
    padding-top: 10px;
    width: 100%;
    height: 600px;
    background-image: url("images2/header.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.container{
    display: flex;
    padding: 10px 5%;
    justify-content: center; 
    align-items: center;
    text-align: center;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.logo {
    width: 190px; 
    height: auto;
    
}
/*--------------------social icons----------------*/
.social-icons {
    display: inline-block;
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 50px;
    cursor: pointer;
}
.social-icons a {
    color: #000; /* Adjust icon color as needed */
    margin-left: 15px;
    transition: 0.5s;
}
.social-icons a:hover{
    color: #FF0000;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    align-items: center;
}
nav ul li a{
    color:#000000;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background: #FF0000;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
    background: #FF0000;
}


/*---------------about/artist bio-----------------*/
#about{
    padding-top: 50px;
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex: 0 0 40%; /* percentage to control column width */
}

.about-col-1 img {
    width: 100%; 
    height: auto; 
    border-radius: 15px;
}

.about-col-2 {
    flex: 0 0 50%; /*  percentage to control column width */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
}
.sub-title{
    font-size: 40px;
    font-weight: 550;
    font-family: 'georgia',sans-serif;
    letter-spacing: 2px;
    color: #FF0000;
    padding: 20px;
}


  /***************************  Music   ********************************/
  #music{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    align-items: center;
    padding: 20px;
  }
  #music .container{
    width: 100%;
    text-align: center;
  }
  #music ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    text-align: center; /* Align icons horizontally */
  }

  #music ul a {
    display: inline-block; 
    margin: 0 10px; 
    text-decoration: none; 
    color: #FFFFFF; 
  }

  #music ul a i {
    font-size: 25px; 
    transition: 0.5s; 
  }

  #music ul a:hover i {
    color: #FF0000; 
    transform: translateY(-10px);
  }


  /***************************  contacts   ********************************/
  #contact{
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .contact-left{
    flex-basis: 40%;
    height: 35vh;
    font-size: 20px;
    line-height: 35px;
    max-width: auto; /* Adjust as needed */
  }
  .contact-left :hover{
    color: #FF0000;
  }
  .contact-left p{
    margin-top: 30px;
  }
  .contact-right{
    flex-basis: 50%;
  }
  .contact-right form{
    width: 100%;
  }
  form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff; 
    font-size: 18px;
    border-radius: 6px;
  }
  .btn{
    background-color: transparent; 
    color: #FFFFFF; 
    padding: 5px 25px; 
    margin-top: 15px;
    border-color: whitesmoke; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: 0.5s;
  }
  .btn:hover{
    color: #FF0000;
    border-color: #FF0000;
  }
    

  
  /***************************  footer  ********************************/
  footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(27, 26, 26);
    height: 220px;
    padding: 20px 50px;
    flex-direction: column;
  }
  footer .footer-social-icons, 
  footer .footer-menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  footer .footer-social-icons li, 
  footer .footer-menu li{
    list-style: none;
  }
  footer .footer-social-icons li a{
    font-size: 25px;
    color: #FFFFFF; 
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  footer .footer-social-icons li a:hover{
    transform: translateY(-10px);
    color: #FF0000;
  }
  footer .footer-menu li a{
    font-size: 25px;
    color: #FFFFFF; 
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.5s;
  }
  footer .footer-menu li a:hover{
    opacity: 1.5;
  }
  footer p{
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    opacity: 0.75;
  }


  /* media query to hide the view button on screens wider than 800px */
@media only screen and (min-width: 800px) {
    #viewAllBtn {
        display: none;
    }
}

  /*----------css for small screens------------- */
  nav .fas{
    display: none;
  }
  .fa-bars
  {
    display: none;
  }

  @media only screen and (max-width:800px){
    #header{
        background-image: url(images2/one.jpg);
        height: 600px;
    }
    .sub-title{
        font-size: 24px;
    }
    p{
        font-size: 14px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
      }
    nav ul{
        background: #b9d6e4;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
        font-size: 24px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left : 25px;
        cursor: pointer;
    }
    .fa-bars {
        display: block;
        font-size: 25px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    nav .social-icons {
        display: none;
    }
    #about{
        padding-top: 0;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-2 {
        padding-top: 25px;
    }
    .about-col-2 p {
        /* Add line cap */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* Number of lines to show */
        -webkit-box-orient: vertical;
        transition: max-height 0.5s ease;
    }
    .about-col-2 p.show-full {
        -webkit-line-clamp: unset; /* Show all lines when class is added */
    }
    #viewAllBtn {
        background-color: transparent; 
        color: #FFFFFF; 
        padding: 5px 25px; 
        margin-top: 10px;
        border-color: whitesmoke; 
        border-radius: 5px; 
        font-size: 16px; 
        cursor: pointer; 
        transition: background-color 0.3s; 
    }
    
    #viewAllBtn:hover {
        background-color: transparent; 
    }
    #music iframe {
        max-width: 100%; 
        width: 100%; 
        height: 70vh; 
        border-radius: 12px; 
    }
  }